*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: sans-serif;
}

button{
    display: none;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    outline: none;
    border: none;
    background: none;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.22);
    cursor: pointer;
}

button:hover{
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

input{
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.23);
    outline: none;
}

input:focus-visible{
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.container{
    margin: 0 auto;
}

.container-slider{
    display: flex;
    height: 80vh;
}

.slider{
    width: 60%;
    margin: 0 auto;
    position: relative;;
}

#btn-prev{
    left: 0;
}

#btn-next{
    right: 0;
}

.slider-preview{
    margin-top: 10px;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}

.slider-indicator{
    height: 14px;
    width: 14px;
    border: 2px solid #43c3ff;
    border-radius: 50%;
    background-color: #818181;
    cursor: pointer;
}

/*.slider-indicator:hover{*/
/*    border: 2px solid #006799;*/
/*    background-color: #d1d1d1;*/
/*}*/

.slider-indicator-active{
    height: 0;
    width: 0;
    border: 7px solid #16b5ff;
    background-color: #d1d1d1;
}

/*.slider-preview__image{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background: #000;*/
/*}*/

.container-form{
    margin-top: 20px;
    width: 500px;
    font-size: 23px;
    text-align: center;
}

.form-input{
    margin-top: 10px;
}

.form-submit{
    cursor: pointer;
}

.form-submit:hover{
    background: #ffffff;
    box-shadow: 0 3px 5px #000;
}

.submit-message{
    position: relative;
    margin: 10px auto 0 auto;
    width: 220px;
    height: 20px;
    border-radius: 7px;
    font-size: 15px;
    transition: .5s;
}

.submit-message-ok{
    border: 1px solid rgba(2, 146, 2, 0.6);
    background: rgba(7, 205, 7, 0.3);
    color: rgb(2, 97, 2);
}

.submit-message-error{
    border: 1px solid rgba(146, 2, 2, 0.6);
    background: rgba(205, 7, 7, 0.3);
    color: rgb(109, 0, 0);
}

.submit-message-inactive{
    display: none;
}


































